.homeheader {
  grid-column: page-start/page-end;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 65vh;
  min-height: 40rem;
  width: 100%;
  padding: 1rem;
}
.lady-img {
  position: relative;
  height: 45rem;
}
.cotton-img {
  position: relative;
  top: 25%;
  height: 25rem;
}
.homeheader-text {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  position: relative;
  width: 35rem;
  height: 100%;
}
.homeheader-text-quote {
  margin-bottom: 1rem;
  font-size: 4rem;
  text-align: center;
}
.homeheader-button {
  align-self: center;
  height: min-content;
  padding: 0.5rem;
  border: double 1rem black;
  border-radius: 0.4rem;
  font-size: 2.5rem;
  text-align: center;
  cursor: pointer;
  &:hover {
    -webkit-box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.75);
  }
}
a:hover {
  text-decoration: none;
  font-weight: 400;
}
@media (max-width: 1280px) {
  .cotton-img {
    display: none;
  }
}
// @media (min-height: 1081px) and (max-width: 1081px) {
//   .homeheader {
//     height: 40vh;
//   }
// }
// fix for big screens

@media (max-width: 992px) {
  .homeheader {
    height: 50vh;
    justify-content: space-around;
    margin-bottom: 0;
  }
  .lady-img {
    top: 5%;
    height: 50rem;
  }
  .cotton-img {
    display: none;
  }
  .homeheader-text {
    top: 10%;
    width: 35rem;
  }
  .homeheader-text-quote {
    font-size: 3rem;
  }
}
@media (max-width: 576px) {
  .homeheader {
    height: 25vh;
    width: 100%;
    justify-content: center;
    padding: 0.5rem;
  }
  .lady-img {
    top: 5%;
    height: 28rem;
  }
  .cotton-img {
    display: none;
  }
  .homeheader-text {
    top: 0;
    width: 24rem;
    font-size: 3rem;
  }
  .homeheader-button {
    font-size: 1.4rem;
    width: 25rem;
  }
}
@media (min-width: 2000px) and (min-height: 1200px) {
  .cotton-img {
    display: none;
  }
}

// animation
.animated {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.animatedBtn {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-3rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}
