.success {
  font-size: 4rem;
  grid-column: page-start/page-end;
  height: 100%;
  left: 50%;
  min-height: 50vh;
  padding: 5rem;
  top: 50%;
  width: 100%;
  .success-link {
    cursor: pointer;
    font-family: "Lora", "Playfair Display", serif;
    font-size: 4rem;
    text-align: center;
    text-decoration: underline;
    text-transform: lowercase;
    width: 100%;
  }
}
