.forher {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  grid-column: content-start/content-end;
  height: min-content;
  justify-content: space-around;
  padding: 2.5rem;
  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: min-content;
    justify-content: space-around;
  }
  .quote {
    align-content: center;
    display: flex;
    justify-content: center;
    padding: 2rem;
    width: 100%;
  }
  .quote-img {
    height: 25rem;
    width: 20rem;
  }
  .quote-text {
    font-size: 2rem;
    padding: 4rem;
    width: 70%;
  }
  .quote-name {
    font-size: 1.8rem;
    font-style: italic;
    margin: 1rem;
    text-align: right;
  }
  .selects {
    align-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
  }
  .select {
    -moz-appearance: none;
    background-color: white;
    border: double black 0.6rem;
    border-radius: 0.2rem;
    cursor: pointer;
    font-size: 2rem;
    height: 5rem;
    margin-bottom: 3rem;
    margin-top: 2rem;
    outline: none;
    width: 28rem;
  }
  .fetch-error {
    font-size: 3rem;
    margin: 3rem;
    text-align: center;
    width: 100%;
  }
  .no_matches {
    font-size: 3rem;
    margin: 5rem;
  }
}
@media (max-width: 600px) {
  .forher {
    margin: 0.5rem;
    padding: 0.5rem;
    .quote-text {
      padding: 2rem;
      width: 100%;
    }
  }
}
