.notification {
  background-color: white;
  border: black double 1rem;
  padding: 0.8rem;
  height: 10rem;
  width: 34rem;
  position: fixed;
  top: 20%;
  right: 0;
  font-size: 2.6rem;
  color: black;
}
