.header {
  grid-column: page-start/page-end;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 15vh;
  border-bottom: 1.5rem double;
  .header-left {
    display: flex;
  }
  .header-right {
    display: flex;
  }
}
.logo {
  height: 100%;
}
.logout,
a {
  margin: 2.5rem;
  color: rgb(27, 27, 27);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 2.2rem;
  font-weight: 400;
  cursor: pointer;
  &:hover {
    font-weight: bolder;
  }
}
.toggle-button {
  display: none;
}
.active-class {
  font-weight: bolder;
}

@media (max-width: 992px) {
  .header {
    justify-content: center;
    .header-left {
      display: none;
    }
    .header-right {
      display: none;
    }
    .toggle-button {
      display: block;
    }
  }
}
@media (max-width: 600px) {
  .header {
    height: 12vh;
  }
}
