.bestSelling {
  grid-column: content-start/content-end;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 4rem;
  flex-direction: row;
  height: min-content;

  .bestSellingText {
    text-align: center;
    border-bottom: double black 1.5rem;
    height: 20%;
    width: 100%;
    font-size: 4rem;
  }
}
@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade {
  -webkit-animation-name: fade;
  animation-name: fade;
}
.animated {
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
  animation-delay: 0;
  -webkit-animation-delay: 0;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.animatedBtn {
  -webkit-animation-duration: 3.5s;
  animation-duration: 3.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
