.cartitem {
  display: flex;
  justify-content: space-between;
  height: 25rem;
  width: 100%;
  border-bottom: black double 1rem;
}
.cartitem-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 3rem;
  .cartitem-nameprice {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .cartitem-img {
    height: 21rem;
    width: 18rem;
    margin-right: 2rem;
    padding: 1rem;
    border: black double 0.5rem;
  }
}
.cartitem-right {
  display: flex;
  align-items: center;
  font-size: 3rem;
  text-align: center;
  .cartitem-quanti {
    width: 5rem;
    height: 5rem;
  }
  .cartitem-add {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    width: 5rem;
    border: none;
    background-color: white;
    font-size: 3rem;
    outline: none;
    cursor: pointer;
    &:active {
      transform: translateY(0.2rem);
    }
  }
  .cartitem-sub {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    width: 5rem;
    border: none;
    background-color: white;
    font-size: 3rem;
    outline: none;
    cursor: pointer;
    &:active {
      transform: translateY(0.2rem);
    }
  }
}
.cartitem-remove {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;
  height: 5rem;
  width: 12rem;
  border: black;
  background-color: white;
  font-size: 1.4rem;
  cursor: pointer;
  outline: none;

  &:hover {
    font-weight: bold;
  }
}
//600px
@media (max-width: 700px) {
  .cartitem-right {
    flex-direction: column;
    justify-content: center;
    .cartitem-add {
      font-size: 2;
      height: 4rem;
      width: 4rem;
    }
    .cartitem-sub {
      font-size: 2;
      height: 4rem;
      width: 4rem;
    }
  }
}
