*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-size: 62.5%; // 10/16=62,5 => rem = 10px
}
body {
  font-family: "Lora", "Playfair Display", serif;
  font-weight: 400;
}

@media (min-width: 1920px) {
  html {
    font-size: 75%;
  }
}

@media (min-width: 2600px) {
  html {
    font-size: 112.5%;
  }
}

@media (min-width: 3600px) {
  html {
    font-size: 150%;
  }
}
@media (max-width: 1024px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 37.5%;
  }
}
