*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 62.5%; // 10/16=62,5 => rem = 10px
}
body {
  font-family: "Lora", "Playfair Display", serif;
  font-weight: 400;
}

// @media (min-width: 576px) {
//   html {
//     font-size: 37.5%;
//   }
// }

@media (min-width: 2049px) {
  html {
    font-size: 100%;
  }
}
@media (max-width: 2048px) {
  html {
    font-size: 75%;
  }
}
@media (max-width: 1280px) {
  html {
    font-size: 75%;
  }
}
@media (max-width: 992px) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 576px) {
  html {
    font-size: 37.5%;
  }
}
