.login-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  grid-column: content-start/content-end;
  margin-bottom: 5rem;
  margin-top: 5rem;
  min-height: 65vh;
  width: 100%;

  .title {
    border-bottom: black double 1.5rem;
    font-size: 4rem;
    font-weight: 500;
    margin-bottom: 3rem;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
  }
  .form-item {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    width: 27rem;
  }
  .login-input {
    border: none;
    border-bottom: solid black 0.1rem;
    font-size: 2rem;
    height: 5rem;
    outline: none;
    width: 27rem;
  }
  .input-title {
    font-size: 2rem;
    text-transform: uppercase;
  }
  .input-error-text {
    color: red;
    text-align: right;
  }
  .login-button {
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    background-color: white;
    border: double black 0.8rem;
    cursor: pointer;
    font-size: 2rem;
    height: 5rem;
    margin: 2rem;
    transition: 0.3s;
    width: 27rem;
    &:hover {
      transform: scale(1.05);
    }
    &:disabled {
      background-color: rgb(151, 151, 151);
      cursor: not-allowed;
      transform: scale(1);
    }
    &:active {
      transform: translateY(0.3rem);
    }
  }
  .login-error {
    color: red;
    font-size: 2rem;
    font-weight: bold;
  }
  .to-signup {
    color: black;
    font-size: 1.5rem;
    margin-top: 1rem;
  }
}
