.signup-form {
  grid-column: content-start/content-end;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.signup-text {
  width: 100%;
  margin-bottom: 3rem;
  border-bottom: black double 1.5rem;
  text-transform: uppercase;
  font-size: 4rem;
  text-align: center;
}
.form-item {
  display: flex;
  flex-direction: column;
  width: 27rem;
  margin-top: 2rem;
}
.signup-input {
  height: 5rem;
  width: 27rem;
  border: none;
  border-bottom: solid black 0.1rem;
  outline: none;
  font-size: 2rem;
}
.input-title {
  text-transform: uppercase;
  font-size: 2rem;
}
.error-text {
  color: red;
  text-align: right;
}
.phone-start {
  height: 5rem;
  width: 7rem;
  margin-top: 1rem;
  border: none;
  border-bottom: solid black 0.1rem;
  outline: none;
  font-size: 2rem;
}
.phone-end {
  height: 5rem;
  width: 20rem;
  margin-top: 1rem;
  border: none;
  border-bottom: solid black 0.1rem;
  outline: none;
  font-size: 2rem;
}

.country-selector {
  height: 5rem;
  width: 27rem;
  margin-top: 0.8rem;
  border: double 0.2rem;
  border-radius: 0.5rem;
  font-family: inherit;
  font-size: 2rem;
}
.signup-button {
  height: 5rem;
  width: 27rem;
  margin: 2rem;
  border: double black 0.8rem;
  cursor: pointer;
  font-size: 2rem;
  &:disabled {
    cursor: not-allowed;
    background-color: rgb(150, 150, 150);
  }
  &:active {
    transform: translateY(0.3rem);
  }
}
.signup-error {
  font-weight: bold;
  font-size: 2rem;
  color: red;
}
.to-login {
  margin-top: 1rem;
  font-size: 1.5rem;
  color: black;
}
// animation
.animated {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.animated-small-delay {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.animated-big-delay {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fade-in-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-3rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}

@keyframes fade-in-left {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@-webkit-keyframes appear {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-3rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.appear {
  -webkit-animation-name: appear;
  animation-name: appear;
}
.fade-in-left {
  -webkit-animation-name: fade-in-left;
  animation-name: fade-in-left;
}
